src/main/java/com/syck/hellosyck/models/response.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="response" type="responseType"/>
  <xs:complexType name="responseType">
    <xs:sequence>
      <xs:element type="dataType" name="data"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="dataType">
    <xs:sequence>
      <xs:element type="imagesType" name="images"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="imageType">
    <xs:sequence>
      <xs:element type="xs:string" name="url"/>
      <xs:element type="xs:string" name="id"/>
      <xs:element type="xs:string" name="source_url"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="imagesType">
    <xs:sequence>
      <xs:element type="imageType" name="image" maxOccurs="unbounded" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>